body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: lightseagreen;
    margin: 1em;
    padding: 10px;
    
}

#mocha {
    background-image: url(Unit-Testing.webp);
    border: 1px solid orangered;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 10px 4px orangered;
}

h1, h2, h3, h4, h5, h6 {
    color: white;
    border-left-color: aqua;
    
}

p {
    line-height: 2;
    color: orangered;
}

pre {
    background: black;
    color: black;
    padding: 10px;
    border-radius: 5px;
}

code {
    background: #ddd;
    padding: 2px 4px;
    border-radius: 3px;
    color: #c7254e;
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}
